html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
	padding: 0;
}

.container, .grid-row {
  gap: 1px;
}

.container {
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  background-color: #cccccc;
  border: solid #cccccc 1px;
}

.grid-row {
  display: flex;
  flex-grow: 1;
}

.square {
  background-color: #fbfbfb;
  flex-grow: 1;
}
